<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Home</h1>

<form action="/action_page.php"> <!--Que hacer en caso de Django?-->
  <label for="fname">Nombre Empresa:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Referencia:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Submit">
</form>

<p>Click the "Submit" button and the form-data will be sent to a page on the 
server called "action_page.php".</p>

<p> {{subpartida}} </p>

</body>
</html>